# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
middlegroudInterfaceTest/src/main/java/com/duoweidu/cases/fyb/opadmin/
middlegroudInterfaceTest/src/main/java/com/duoweidu/cases/iqg/opadmin/
middlegroudInterfaceTest/src/test/
middlegroudInterfaceTest/target/generated-sources/
